.promptInput_Scrollbar::-webkit-scrollbar {
  width: 5px;
}

.promptInput_Scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.promptInput_Scrollbar::-webkit-scrollbar-thumb {
  background: rgba(148, 163, 184, 0.25);
  border-radius: 8px;
}

.promptInput_Scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(148, 163, 184, 0.4);
}
