.sidebar_scrollbar::-webkit-scrollbar {
  width: 4px;
}

.sidebar_scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.sidebar_scrollbar::-webkit-scrollbar-thumb {
  background: rgba(148, 163, 184, 0.2);
  border-radius: 8px;
}

.sidebar_scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(148, 163, 184, 0.35);
}
